<!--myMember/templates/signup.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Sign Up</h1>
    <form method="POST" action="{% url 'signup'%}">
        {%csrf_token%}
        <input type="text" name="username">
        <input type="password" name="password1">
        <input type="password" name="password2">
        <button type="submit">Sign In</button>
    </form>
    <a href="{% url 'signup'%}">Sign Up</a>
</body>
</html>
