<!--myApp/templates/index.html-->
{% extends 'base.html' %}

<!-- django에서 지원하는 여러가지 시간 표현 형식 모음 -->
{% load humanize %}

{% block content %}
<body>
    {% for post in posts.all %}
    <div class="card">
        <div class="card-header">{{ post.create_user }}<a href="{% url 'update' post.id %}">수정</a><a href="{% url 'delete' post.id %}">삭제</a></div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ post.main_text }}</p>
            <footer class="blockquote-footer">{{ post.create_date | naturaltime }}</footer>
          </blockquote>
        </div>
        <div class="card-footer">

          <form action="{% url 'c_post' post.id %}" method="POST">
              {% csrf_token %}
              <input type="text" name="comment_text" id="comment_text" placeholder="댓글달아주세요">
              <button type="submit">댓글달기</button>
          </form>

          {% for comment in post.comments.all %}
          <span class="comment_user">{{comment.comment_user}}</span>
          <small class="text-muted">{{comment.comment_date}}</small>
          <br>
          <a class="card-text">{{comment.comment_text}}
          {% endfor %}

        </div>
      </div>
      <br>
      {% endfor %}
</body>
{% endblock %}